
.card-project {
    background-color: var(--color-bg-components);
    border-radius: 8px;
    margin-top: 24px;
    max-width: 54%;
    padding: 22px;
    padding-top: 24px;
    margin-bottom: 24px;
    min-width: 53.5%;
}

.card-project__item {
    display: flex;
    background-color: var(--color-bg-main);
    border-radius: 8px;
    padding: 12px 32px;
    margin-bottom: 24px;
    justify-content: space-between;
}

.card-project__graph-wrapper {
    align-items: center;
    display: flex;
    fill: none;
    height: 12px;
    justify-content: flex-start;
    width: 50%;
}

.card-project__graph-rail {
    display: flex;
    height: 24px;
    justify-content: flex-start;
    position: absolute;
    width: 240px;
    z-index: 1;
}

.card-project__graph-bar {
    height: 24px;
    position: absolute;
    width: 240px;
    z-index: 2;
}
