
.card-project {
    background-color: var(--color-bg-components);
    border-radius: 8px;
    margin-top: 24px;
    max-width: 54%;
    padding: 22px;
    padding-top: 24px;
    margin-bottom: 24px;
    min-width: 51%;
    max-height: 300px;
    overflow-y: hidden;
}

.card-project__item-info {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.card-project__item {
    align-items: center;
    background-color: var(--color-bg-main);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-bottom: 24px;
    padding: 24px 32px;
}

.card-project__item-code,
.card-project__item-name { 
    font-size: 12px;
}

.card-project__item-code {

}

.card-project__item-name {
    max-height: 24px;
    text-overflow: ellipsis;
    line-height: 2em;
    margin-left: 12px;
    width:250px;
}

.card-project__item-rail {
    background-color: var(--color-bg-components);
    border-radius: 8px;
    height: 12px;
    width: 130px;
}

.card-project__item-bar {
    background-color: transparent;
    border-radius: 8px;
    height: 12px;
    width: 0%;
    transition: width 3s;
}

.card-project__item-percentage {
    font-size: 12px;
    margin-left: 12px;
}


