
.crud {
    width: 100%;
    height: 100%;
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
}

.crud-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 48px;
    margin-bottom: 32px;
}

.crud-title {
    font-size: 32px;
    color: var(--color-font-primary);
    margin-left: 8px;
}

.crud-button {
    background-color: transparent;
    border:2px solid var(--color-primary);
    border-radius: 4px;
    color: var(--color-font-primary);
    cursor: pointer;
    padding: 8px 16px;
}

.crud-item {
    align-items: center;
    background: var(--color-bg-components);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 24px;
    margin-right: 48px;
    color: var(--color-font-secundary);
    display: flex;
    justify-content: space-between;
}

.crud-item__info{
    display: flex;
}

.crud-item__name,
.crud-item__code-project {
    color: var(--color-font-primary);
}

.crud-item__name,
.crud-item__leader {
    margin-right: 12px;
}

.crud-delete-button,
.crud-update-button {
    color: var(--color-font-primary);
    background: transparent;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 12px;
    cursor: pointer;
}

.crud-update-button {
    border-color: var(--yellow);
}

.crud-delete-button {
    border-color: var(--red);
}

.crud-item__code-project,
.crud-item__project-text {
    margin-bottom: 12px;
}

.crud-modal-created,
.crud-modal-update {
    background: rgba(34, 52, 60, 0.8);
    backdrop-filter: blur(2px);
    box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-right: 46px;
    padding: 24px;
    position: absolute;
    width: 1005px;
    top: 0;
    margin-top: 100px;
    z-index: 9999;
}

.crud-modal__title {
    color: var(--color-font-primary);
    font-size: 24px;
    margin-bottom: 32px;
}

.crud-modal__button-cancel {
    background-color: transparent;
    border: 2px solid var(--red);
    color: var(--color-font-primary);
    font-size: 18px;
    padding:  6px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.crud-modal__button-cancel:hover {
    background-color: var(--red);
}

.crud-modal__button-accept {
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--color-font-primary);
    font-size: 18px;
    padding:  6px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 12px;
}

.crud-modal__button-accept:hover {
    background-color: var(--green);
}

.crud-modal-form {
    margin-bottom: 12px;
}


.crud-modal__label {
    color: var(--color-font-secundary);
    margin-bottom: 8px;
}

.crud-modal__input {
    margin-bottom: 12px;
    background: var(--color-bg-main);
    border-radius:4px;
    border: none;
    padding: 8px;
    outline: none;
    color: var(--color-font-secundary);
}

.crud-modal-buttons {
    margin-top: 24px;
    align-self: center;
}

.crud-modal__wrapper {
    display: flex;
    margin-bottom: 12px;
}

.crud-modal__wrapper .crud-modal__info:nth-child(odd) {
    margin-left: 0;
} 

.crud-modal__info {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 24px;
}

#modal_hours{
    width: 15%;
    margin-left: 24px;
}

#modal_hours__input {
    height:100%
}


.react-datetime-picker__wrapper{
    border: none;
    color: var(--color-font-secundary);
}

.react-datetime-picker__inputGroup input {
    color: var(--color-font-secundary);
    outline: none;
}

.react-datetime-picker__clear-button svg,
.react-datetime-picker__calendar-button svg{
    stroke: var(--color-font-secundary);
}

.react-datetime-picker__clear-button svg:focus,
.react-datetime-picker__calendar-button svg:focus{
    stroke: var(--color-font-secundary);
}