.sidebar {
    border-right: 1px solid var(--color-primary-soft-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 32px 48px;
    width: 225px;
}

.sidebar__logo {
    margin-left: 50px;
}

.sidebar__item {
    align-items: center;
    display: flex;
    margin-top: 24px;
    margin-left: 24px;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar__item:hover{
    background-color: var(--color-bg-primary);
}

.sidebar__item:hover > .sidebar__item-icon {
    color: var(--color-font-primary);
}

.sidebar__item-icon {
    color: var(--color-gray);
}

.sidebar__item-title {
    color: var(--color-font-primary);
    margin-left: 12px;
}