.sidebar {
    border-right: 1px solid var(--color-primary-soft-dark);
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    width: fit-content;
}

.sidebar__list {
    margin-top: 24px;
}


.sidebar__item {
    align-items: center;
    display: flex;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 140px;
}

.sidebar__item:hover{
    background-color: var(--color-bg-primary);
}

.sidebar__item:hover > .sidebar__item-icon {
    color: var(--color-font-primary);
}

.sidebar__item-icon {
    color: var(--color-gray);
}

.sidebar__item-title {
    color: var(--color-font-primary);
    margin-left: 12px;
}

.sidebar__logout {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 24px;
}